# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
env/
*.sqlite3
instance/*.db
instance/*.sqlite3
instance/*.db-journal
instance/.env
studysync/instance/*.db
studysync/instance/*.sqlite3
studysync/instance/*.db-journal
studysync/e2e_artifacts/
